h1{
    color:red;
   background-color: beige;
   border: 2px solid green;
   text-align: center;
   font-size: 50px;
   text-decoration: underline;
}

p{
    text-align:center;
    color:purple;
    border: 1px dotted green;
    font-size:20px;
    text-decoration: underline;
    background-color: whitesmoke;
    font-style:italic;
}

.css{
    color: green;
}